<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Add test result for student</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container w-25">
<h1 th:text="${purpose}"></h1>

  <form th:action="@{/grading/add}" method="post" th:object="${newTestAttempt}">
    <input type="hidden" th:field="*{testAttemptId}">
    <div class="form-group">
      <label for="student">Select student</label>
      <select class="form-control" id="student" th:field="*{student}">
        <option th:each="student : ${allStudents}" th:value="${student.getStudentId()}"
                th:text="${student.getDisplayName()}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="test">Select test</label>
      <select class="form-control" id="test" th:field="*{test}">
        <option th:each="test : ${allTests}" th:value="${test.getTestId()}"
                th:text="${test.getDisplayName()}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="testDate">Select date</label>
      <input class="form-control" id="testDate" type="date" th:field="*{attemptDate}" required>
      <p th:if="${#fields.hasErrors('attemptDate')}" class="text-danger" th:errors="*{attemptDate}"></p>
    </div>
    <div class="form-group">
      <label for="attemptResult">Attempt Result</label>
      <input class="form-control" id="attemptResult" type="number" min="1" max="10" step="0.1"
             th:field="*{attemptResult}" required>
      <p th:if="${#fields.hasErrors('attemptResult')}" class="text-danger" th:errors="*{attemptResult}"></p>
    </div>
    <div class="form-group form-button">
      <button type="button" class="btn btn-danger" >
        <a class="cancelLink" th:href="@{/grading/}">Cancel</a>
      </button>
      <button type="submit" class="btn btn-primary" >Save Test Result</button>
    </div>
    <h3 class="mt-3" th:if="${success}" th:text="${success}"></h3>
    <script th:replace="fragments/scripts :: maxDateToday"></script>
  </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>