<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Student Add Form</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container w-25">
    <h1>Add a Student</h1>

    <form th:action="@{/student/add}" method="post" th:object="${student}">
        <input type="hidden" th:field="*{studentId}" />
        <div class="form-group">
            <label for="firstNameStudent">First name</label>
            <input id="firstNameStudent" class="form-control" type="text"
                   placeholder="First name" minlength="2" th:field="*{firstName}" required>
            <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
        </div>
        <div class="form-group">
            <label for="infixNameStudent">Infix</label>
            <input id="infixNameStudent" class="form-control" type="text"
                   placeholder="Infix" th:field="*{infixName}">
        </div>
        <div class="form-group">
            <label for="lastNameStudent">Last name</label>
            <input id="lastNameStudent" class="form-control" type="text"
                   placeholder="Last name" minlength="2" th:field="*{lastName}" required>
            <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input id="emailAddress" class="form-control" type="email"
                   placeholder="Email address" th:field="*{emailAddress}" required>
            <p th:if="${#fields.hasErrors('emailAddress')}" class="text-danger" th:errors="*{emailAddress}"></p>
        </div>
        <div>
            <label for="cohort">Select cohort</label>
            <select  id="cohort" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px"
                    th:field="*{cohort}">
                <option th:value="null">No cohort</option>
                <option class="dropdown-item rounded-2"
                        th:each="cohort: ${allCohorts}"
                        th:value="${cohort.cohortId}"
                        th:text="${cohort.getDisplayCohort()}">
                </option>
            </select>
        </div>
        <div class="form-group form-button">
            <button type="button" class="btn btn-danger" >
                <a class="cancelLink" th:href="@{/student/}">Cancel</a>
            </button>
            <button type="submit" class="btn btn-primary" >Save Student</button>
        </div>
        <h3 class="mt-3" th:if="${success}" th:text="${success}"></h3>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>