<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>All students</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container">
    <h1>An overview of all students</h1>

    <table class="table">
        <tr>
            <th>First name</th>
            <th>Infix</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>Cohort</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="student : ${allStudents}">
            <td>
                <a th:href="@{/grading/student/{studentId}(studentId=${student.studentId})}"
                   th:text="${student.getFirstName()}">
                </a>
            </td>
            <td th:text="${student.getInfixName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.getEmailAddressStudent()}"></td>
            <td>
                <span th:if="${student.getCohort()}" th:text="${student.getCohort().getDisplayCohort()}"></span>
                <span th:unless="${student.getCohort()}">No cohort</span>
            </td>
            <td><a th:href="@{/student/edit/{studentId}(studentId=${student.studentId})}">
                <img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">
            </a></td>
            <td><a th:href="@{/student/delete/{studentId}(studentId=${student.studentId})}">
                <img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">
            </a></td>
        </tr>
    </table>

    <div>
        <a th:href="@{/student/add}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
            <span>Add a new Student</span></a>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>