<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>All tests</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container">
  <h1>An overview of all tests of all programs and courses</h1>

  <a th:href="@{/test/add}">Add a new test</a>

  <table class="table">
    <tr>
      <th>Test</th>
      <th>Course</th>
      <th>Program</th>
      <th></th>
      <th></th>
    </tr>
    <tr th:each="test : ${allTests}">
      <td th:text="${test.getNameTest()}"></td>
      <td th:text="${test.getCourse().getCourseName()}"></td>
      <td th:text="${test.getCourse().getProgram().getNameProgram()}"></td>
      <td><a th:href="@{/test/edit/{testId}(testId=${test.testId})}">
        <img src="/images/file-pen-solid.svg" alt="edit">
      </a></td>
      <td><a th:href="@{/test/delete/{testId}(testId=${test.testId})}">
        <img src="/images/trash-can-regular.svg" alt="delete">
      </a></td>
    </tr>
  </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>