<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Test Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <h1>Details for <span th:text="${test.nameTest}"></span></h1>

  <a th:href="@{/course/}">Back to Course Overview</a>

  <table class="table">
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Max Points</th>
    </tr>
    <tr th:each="testitem: ${testItemsForTest}">
      <td th:text="${testitem.itemNumberForTest}" ></td>
      <td th:text="${testitem.description}"></td>
      <td th:text="${testitem.maxPoints}"></td>
    </tr>
  </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>