<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Cohort Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <h1 th:text="${cohort.getDisplayCohort()}"></h1>

  <div class="row">
    <div class="col-md-8">
      Description of Cohort <span th:text="${cohort.getNumber()}"></span>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Courses</th>
        </tr>
        <tr th:each="course : ${cohort.getProgram().getCourses()}">
          <td>
            <a th:href="@{/course/details/{courseId}(courseId=${course.getCourseId()})}"
               th:text="${course.getCourseName()}">
            </a>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Students</th>
          <th>Email</th>
          <th>Remove</th>
        </tr>
        <tr th:each="student : ${cohort.students}">
          <td th:text="${student.getDisplayName()}"></td>
          <td th:text="${student.getEmailAddressStudent()}"></td>
          <td>
            <a th:href="@{/cohort/remove/{cohortId}/{studentId}
              (cohortId=${cohort.cohortId}, studentId=${student.studentId})}">
              <img src="/images/person-circle-minus-solid.svg" alt="removePerson" style="height: 18px">
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <form th:action="@{/cohort/addStudent}" method="post"
                  th:object="${enrollment}">
              <input type="hidden" th:field="*{cohort}" />

              <div class="form-group">
                <label for="student">
                  <img src="/images/person-circle-plus-solid.svg" alt="add" style="width: 18px">
                  Add student to cohort
                </label>
                <select id="student" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px"
                        th:field="*{student}">
                  <option class="dropdown-item rounded-2"
                          th:each="student: ${allStudents}"
                          th:value="${student.studentId}"
                          th:text="${student.displayName}">
                  </option>
                </select>
              </div>

              <div class="form-group form-button">
                <button type="submit" class="btn btn-danger">Save</button>
              </div>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>