<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Put a title here</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <h1 th:text="${cohort.getDisplayCohort()}"></h1>

  <div class="row">
    <div class="col-md-8">
      Description of Cohort <span th:text="${cohort.getNumber()}"></span>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Courses</th>
        </tr>
        <tr th:each="course : ${cohort.getProgram().getCourses()}">
          <td>
            <a th:href="@{/course/details/{courseId}(courseId=${course.getCourseId()})}"
               th:text="${course.getCourseName()}">
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Students</th>
          <th>Email</th>
        </tr>
        <tr th:each="student : ${cohort.getStudents()}">
          <td th:text="${student.getFirstName()}"></td>
          <td th:text="${student.getEmailAddressStudent()}"></td>
        </tr>
        <tr>
          <td><img src="/images/person-circle-plus-solid.svg" alt="add" style="width: 20px">
            Voeg student toe aan cohort</td>
          <td>
<!--              <label for="student">Select Student(s)</label>-->
<!--              <select  id="student" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px"-->
<!--                       th:field="*{cohort.getStudents()}" multiple>-->
<!--                <option class="dropdown-item rounded-2"-->
<!--                        th:each="student: ${allStudents}"-->
<!--                        th:value="${student.getStudentId()}"-->
<!--                        th:text="${student.getDisplayName()}">-->
<!--                </option>-->
<!--              </select>-->
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>