<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Add a cohort</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container w-25">
  <h1 th:text="${purpose}"></h1>

  <a th:href="@{/cohort/}">Back to Cohort Overview</a>

  <form th:if="${cohort.cohortId} == null" th:action="@{/cohort/add}" method="post" th:object="${cohort}">
    <div th:replace="fragments/cohortForm :: cohortForm"></div>
  </form>

  <form th:if="${cohort.cohortId} != null" th:action="@{/cohort/edit}" method="post" th:object="${cohort}">
    <div th:replace="fragments/cohortForm :: cohortForm"></div>
  </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts">

</div>

</body>
</html>