<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Course Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <h1 th:text="${course.getCourseName()}"></h1>

  <div class="row">
    <div class="col-md-8">
      Description of course.
      This course is taught by <span th:text="${course.getTeacher().getDisplayName()}"></span>.
    </div>
  </div>

  <a th:href="@{/course/}">Back to Course Overview</a>

  <div class="row" sec:authorize="hasRole('TEACHER') OR hasRole('ADMIN')">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Tests</th>
          <th>Add/Edit Testitem(s)</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr th:each="test : ${testsFromCourse}">
          <td>
            <a th:href="@{/test/details/{testId}(testId=${test.testId})}"
               th:text="${test.getNameTest()}">
            </a>
          </td>
          <td>
            <a th:href="@{/test/{testId}/addtestitems(testId=${test.testId})}">
              <img src="/images/file-circle-plus-solid.svg" alt="addItem" style="height: 18px">
            </a>
          </td>
          <td>
            <a th:href="@{/test/edit/{testId}(testId=${test.testId})}">
            <img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">
            </a>
          </td>
          <td>
            <a th:href="@{/test/delete/{testId}(testId=${test.testId})}">
              <img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">
            </a>
          </td>
        </tr>
      </table>

      <div>
        <a th:href="@{/test/add}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
          <span>Add new Test</span></a>
      </div>
    </div>

    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>Assignments</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr th:each="assignment : ${assignmentsFromCourse}">
          <td th:text="${assignment.getDisplayAssignment()}"></td>
          <td><a th:href="@{/assignment/edit/{assignmentId}(assignmentId=${assignment.assignmentId})}">
            <img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">
          </a></td>
          <td><a th:href="@{/assignment/delete/{assignmentId}(assignmentId=${assignment.assignmentId})}">
            <img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">
          </a></td>
        </tr>
      </table>

      <div>
        <a th:href="@{/assignment/add}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
          <span>Add new Assignment</span></a>
      </div>
    </div>
  </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>