<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Put a title here</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Add a Course</h1>

    <a th:href="@{/course/}">Back to Course Overview</a>

    <form th:action="@{/course/add}" method="post" th:object="${course}">
        <input type="hidden" th:field="*{courseId}" />
        <div th:fragment="courseForm">
            <div class="form-group">
                <label for="courseName">Course name</label>
                <input id="courseName" class="form-control" type="text" placeholder="Course name" th:field="*{courseName}">
            </div>
            <div class="form-group">
                <label for="program">Select program</label>
                <select class="form-control" id="program" th:field="*{program}">
                    <option th:each="program : ${allPrograms}"
                            th:value="${program.getProgramId}"
                            th:text="${program.getNameProgram}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="teacher">Select teacher</label>
                <select class="form-control" id="teacher" th:field="*{teacher}">
                    <option th:each="teacher : ${allTeachers}"
                            th:value="${teacher.getTeacherId}"
                            th:text="${teacher.getDisplayName()}">
                    </option>
                </select>
            </div>
            <div class="form-group form-button">
                <button type="submit" class="btn btn-danger" >Save Course</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>

