.form-button {
    margin-top: 12px;
}

.navbar {
    padding-left: 8px;
    padding-right: 8px;
}

/*!* unvisited link *!*/
/*a:link {*/
/*    color: black;*/
/*    text-decoration: underline;*/
/*}*/

/*!* visited link *!*/
/*a:visited {*/
/*    color: black;*/
/*}*/

/*!* mouse over link *!*/
/*a:hover {*/
/*    color: blue;*/
/*    text-decoration: underline;*/
/*}*/

/*!* selected link *!*/
/*a:active {*/
/*    color: blue;*/
/*}*/