.form-button {
    margin-top: 12px;
}

.nav {
    background-color: peachpuff;
    padding: 12px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
}