<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Teacher information</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h1>Teacher: <span th:text="${teacher.getDisplayName()}"></span>
        <a th:href="@{/teacher/}"> (back to teacher overview)</a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Information and specifics about this teacher.</p>
    </div>
    <div class="col">
      <img th:src="@{/images/{image}(image=${teacher.getImage})}" alt="image of teacher">
    </div>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>