<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>All teachers</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container">
  <h1>An overview of all teachers</h1>

  <table class="table">
    <tr>
      <th>First name</th>
      <th>Infix</th>
      <th>Last name</th>
      <th>Email address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each="teacher : ${allTeachers}">
      <td th:text="${teacher.getFirstName()}"></td>
      <td th:text="${teacher.getInfixName()}"></td>
      <td th:text="${teacher.getLastName()}"></td>
      <td th:text="${teacher.getEmailAddress()}"></td>
      <td><a th:href="@{/teacher/edit/{teacherId}(teacherId=${teacher.teacherId})}">
        <img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">
      </a></td>
      <td><a th:href="@{/teacher/delete/{teacherId}(teacherId=${teacher.teacherId})}">
        <img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">
      </a></td>
    </tr>
  </table>

  <div>
    <a th:href="@{/teacher/add}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
      <span>Add a new Teacher</span></a>
  </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>