<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Teacher Add Form</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container w-25">
  <h1 th:text="${purpose}"></h1>

  <form th:action="@{/teacher/add}" method="post" th:object="${teacher}">
    <input type="hidden" th:field="*{teacherId}" />
    <div th:fragment="teacherForm">
      <div class="form-group">
        <label for="courseName">First name</label>
        <input id="courseName" class="form-control" type="text" placeholder="First name"
               minlength="2" th:field="*{firstName}" required>
        <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>
      </div>
      <div class="form-group">
        <label for="infixName">Infix</label>
        <input id="infixName" class="form-control" type="text" placeholder="Infix" th:field="*{infixName}">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input id="lastName" class="form-control" type="text" placeholder="Last name"
               minlength="2" th:field="*{lastName}" required>
        <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>
      </div>
      <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input id="emailAddress" class="form-control" type="email" placeholder="Email address"
               th:field="*{emailAddress}" required>
        <p th:if="${#fields.hasErrors('emailAddress')}" class="text-danger" th:errors="*{emailAddress}"></p>
      </div>
      <div class="form-group form-button">
        <button type="button" class="btn btn-danger" >
          <a class="cancelLink" th:href="@{/teacher/}">Cancel</a>
        </button>
        <button type="submit" class="btn btn-primary" >Save Teacher</button>
      </div>
      <h3 class="mt-3" th:if="${success}" th:text="${success}"></h3>
    </div>
  </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>