<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Project CAT-NIP</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/layout/layout.css" />
</head>
<body>

<div th:fragment="navbar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/teacher/all}">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/program/all}">Programs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/cohort/all}">Cohorts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/course/all}">Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/student/all}">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-danger" th:href="@{/seed}">Seed</a>
        </li>
    </ul>
</div>

<div th:fragment="teacherForm">
    <div class="form-group">
        <label for="courseName">First name</label>
        <input id="courseName" class="form-control" type="text" placeholder="First name" th:field="*{firstName}">
    </div>
    <div class="form-group">
        <label for="infixName">Infix</label>
        <input id="infixName" class="form-control" type="text" placeholder="Infix" th:field="*{infixName}">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input id="lastName" class="form-control" type="text" placeholder="Last name" th:field="*{lastName}">
    </div>
    <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input id="emailAddress" class="form-control" type="text" placeholder="Email address" th:field="*{emailAddress}">
    </div>
    <div class="form-group form-button">
        <button type="submit" class="btn btn-danger" >Save Teacher</button>
    </div>
</div>

<div th:fragment="courseForm">
    <div class="form-group">
        <label for="courseName">Course name</label>
        <input id="courseName" class="form-control" type="text" placeholder="Course name" th:field="*{courseName}">
    </div>
    <div class="form-group">
        <label for="program">Select program</label>
        <select class="form-control" id="program" th:field="*{program}">
            <option th:each="program : ${allPrograms}" th:value="${program.getProgramId}" th:text="${program.getNameProgram}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="teacher">Select teacher</label>
        <select class="form-control" id="teacher" th:field="*{teacher}">
            <option th:each="teacher : ${allTeachers}" th:value="${teacher.getTeacherId}" th:text="${teacher.getFullName}"></option>
        </select>
    </div>
    <div class="form-group form-button">
        <button type="submit" class="btn btn-danger" >Save Course</button>
    </div>
</div>

<div th:fragment="footer">
    <footer><p class="text-center text text-muted">Copyright Saskia Tadema and Marcel Tubben &copy;2023</p></footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>