<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Icons</title>
</head>
<body>

<!-- Icon: add a new OBJECT -->
<div>
    <a th:href="@{#}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
        <span>Add a new ?</span></a>
</div>

<!-- Icon: edit something -->
<img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">

<!-- Icon: delete something -->
<img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">

<!-- Icon: add person -->
<img src="/images/person-circle-plus-solid.svg" alt="add" style="width: 18px">

<!-- Icon: delete person -->
<img src="/images/person-circle-minus-solid.svg" alt="removePerson" style="height: 18px">

<!-- Icon: add item -->
<img src="/images/file-circle-plus-solid.svg" alt="addItem" style="height: 18px">

</body>
</html>