<script th:fragment="dateCheck">
    document.addEventListener('DOMContentLoaded', function() {
        let startDateField = document.getElementById('startDate');
        let endDateField = document.getElementById('endDate');

        startDateField.addEventListener('change', function() {
            let startDate = startDateField.value;
            endDateField.setAttribute('min', startDate);
        });

        endDateField.addEventListener('change', function() {
            let endDate = endDateField.value;
            startDateField.setAttribute('max', endDate);
        });
    });
</script>

<script th:fragment="maxDateToday">
    let testDateInput = document.getElementById('testDate');

    let today = new Date().toISOString().split('T')[0];
    testDateInput.setAttribute('max', today);
</script>