<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>All programs</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container">
  <h1>An overview of all programs</h1>

  <a th:href="@{/program/add}">Add a new program</a>

  <table class="table">
    <tr>
      <th>Program name</th>
      <th>Number of cohorts</th>
      <th>Link to details</th>
      <th></th>
      <th></th>
    </tr>
    <tr th:each="program : ${allPrograms}">
      <td th:text="${program.getNameProgram()}"></td>
      <td th:text="${program.getNumberOfCohorts()}"></td>
      <td><a th:href="@{/program/details/{programId}(programId=${program.getProgramId()})}">Details</a></td>
      <td><a th:href="@{/program/edit/{programId}(programId=${program.getProgramId()})}">
        <img src="/images/file-pen-solid.svg" alt="edit">
      </a></td>
      <td><a th:href="@{/program/delete/{programId}(programId=${program.getProgramId()})}">
        <img src="/images/trash-can-regular.svg" alt="delete">
      </a></td>
    </tr>
  </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>