<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Program Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1 th:text="${program.getNameProgram()}"></h1>

    <a th:href="@{/program/all}">Back to program overview</a>

    <div class="row">
        <div class="col mt-2 mb-2">
            Description of program
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Courses</th>
            <th>Teacher</th>
            <th>More information about course</th>
        </tr>
        <tr th:each="course: ${coursesFromProgram}">
            <td th:text="${course.getCourseName()}"></td>
            <td th:text="${course.getTeacher().getDisplayTeacher()}"></td>
            <td>Course</td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>