<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Assignment Add Form</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>


<div class="container w-25">
  <h1 th:text="${purpose}"></h1>

  <form th:action="@{/assignment/add}" method="post" th:object="${assignment}">
    <input type="hidden" th:field="*{assignmentId}" />
    <div class="form-group">
      <label for="assignmentName">Assignment name</label>
      <input id="assignmentName" class="form-control" type="text" minlength="2"
             placeholder="Assignment name" th:field="*{assignmentName}" required>
      <p th:if="${#fields.hasErrors('assignmentName')}" class="text-danger" th:errors="*{assignmentName}"></p>
    </div>
    <div class="form-group">
      <label for="dayPart">Day-part</label>
      <input id="dayPart" class="form-control" type="number"
             placeholder="Day-part" th:field="*{dayPart}">
    </div>
    <div class="form-group">
      <label for="assignmentNumber">Assignment number</label>
      <input id="assignmentNumber" class="form-control" type="number"
             placeholder="Assignment number" th:field="*{assignmentNumber}">
    </div>
    <div class="form-group">
      <label for="Course">Select Course</label>
      <select id="Course" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px"
              th:field="*{course}">
        <option class="dropdown-item rounded-2"
                th:each="course: ${allCourses}"
                th:value="${course.getCourseId()}"
                th:text="${course.getCourseName()}">
        </option>
      </select>
    </div>
    <div class="form-group form-button">
      <button type="button" class="btn btn-danger" >
        <a class="cancelLink" th:href="@{/course/all}">Cancel</a>
      </button>
      <button type="submit" class="btn btn-primary" >Save Assignment</button>
    </div>
    <h3 th:if="${success}" th:text="${success}"></h3>
    <h3 class="text-danger" th:if="${failure}" th:text="${failure}"></h3>
  </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>