<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Put a title here</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">

  <h1>Grades for cohorts</h1>

  <h2>Current cohorts</h2>

  <table class="table">
    <tr>
      <th>Cohort</th>
      <th>Add grade for student</th>
    </tr>
    <tr th:each="cohort : ${allCohorts}" th:unless="${cohort.isOldCohort()}">
      <td>
        <a th:href="@{/grading/{cohortId}(cohortId=${cohort.getCohortId})}">
          <span th:text="${cohort.getDisplayCohort()}"></span>
        </a>
      </td>
      <td>
        <a th:href="@{/grading/add/{cohortId}(cohortId=${cohort.getCohortId()})}">
          <img src="/images/file-circle-plus-solid.svg" alt="addItem" style="height: 18px">
        </a>
      </td>
    </tr>
  </table>

  <h2>Old cohorts</h2>

  <table class="table">
    <tr>
      <th>Cohort</th>
    </tr>
    <tr th:each="cohort : ${allCohorts}"  th:if="${cohort.isOldCohort()}">
      <td>
        <a th:href="@{/grading/{cohortId}(cohortId=${cohort.getCohortId})}">
          <span th:text="${cohort.getDisplayCohort()}"></span>
        </a>
      </td>
    </tr>
  </table>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>


