<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>All programs</title>
</head>
<body>

<nav th:replace="fragments/general :: navbar"></nav>


<div class="container">
  <h1>An overview of all programs</h1>

  <table class="table">
    <tr>
      <th>Program name</th>
      <th>Number of cohorts</th>
      <th sec:authorize="hasRole('TEACHER') OR hasRole('ADMIN')">Edit</th>
      <th sec:authorize="hasRole('ADMIN')">Delete</th>
    </tr>
    <tr th:each="program, programStatus : ${allPrograms}">
      <td>
        <a th:href="@{/program/details/{programId}(programId=${program.getProgramId()})}"
           th:text="${program.getNameProgram()}">
        </a>
      </td>
      <td th:text="${program.getNumberOfCohorts()}"></td>
      <td sec:authorize="hasRole('TEACHER') OR hasRole('ADMIN')">
        <a th:href="@{/program/edit/{programId}(programId=${program.getProgramId()})}">
        <img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">
        </a>
      </td>
      <td sec:authorize="hasRole('ADMIN')">
        <button type="button" class="btn" data-bs-toggle="modal"
                th:data-bs-target="'#deleteModal-' + ${program.getProgramId()}">
          <img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">
        </button>

        <div class="modal fade" th:id="'deleteModal-' + ${program.getProgramId()}"
             tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Program</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this program?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <a id="deleteLink" th:href="@{/program/delete/{programId}(programId=${program.programId})}">
                    <button type="button" class="btn btn-danger">
                      Yes, i'm sure
                    </button>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div sec:authorize="hasRole('TEACHER') OR hasRole('ADMIN')">
    <a th:href="@{/program/add}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
      <span>Add a new program</span></a>
  </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>