<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Program Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1 th:text="${program.getNameProgram()}"></h1>

    <a th:href="@{/program/all}">Back to program overview</a>

    <table class="table">
        <tr>
            <th>Courses</th>
            <th>Teacher</th>
        </tr>
        <tr th:each="course: ${coursesFromProgram}">
            <td>
                <a th:href="@{/course/details/{courseId}(courseId=${course.courseId})}">
                    <span th:text="${course.getCourseName()}"></span>
                </a>
            </td>
            <td th:text="${course.getTeacher().getDisplayName()}"></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>