<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>All programs</title>
</head>
<body>

<nav th:replace="fragments/general :: navbar"></nav>


<div class="container">
  <h1>An overview of all programs</h1>

  <table class="table">
    <tr>
      <th>Program name</th>
      <th>Number of cohorts</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each="program : ${allPrograms}">
      <td>
        <a th:href="@{/program/details/{programId}(programId=${program.getProgramId()})}"
           th:text="${program.getNameProgram()}">
        </a>
      </td>
      <td th:text="${program.getNumberOfCohorts()}"></td>
      <td><a th:href="@{/program/edit/{programId}(programId=${program.getProgramId()})}">
        <img src="/images/file-pen-solid.svg" alt="edit" style="height: 18px">
      </a></td>
      <td><a th:href="@{/program/delete/{programId}(programId=${program.getProgramId()})}">
        <img src="/images/trash-can-regular.svg" alt="delete" style="height: 18px">
      </a></td>
    </tr>
  </table>

  <div>
    <a th:href="@{/program/add}"><img src="/images/plus-solid.svg" alt="add" style="width: 20px">
      <span>Add a new program</span></a>
  </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>